name: PHPStan CI

on: push

jobs:
  phpstan:
    name: PHPStan Analysis
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
      - name: Startup
        uses: actions/checkout@v3
      - name: Download PHP Release
        uses: dsaltares/fetch-gh-release-asset@1.0.0
        with:
          file: Linux.zip
          repo: NetherGamesMC/php-build-scripts
          version: "tags/8.0"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Unpack PHP Release
        run: unzip Linux.zip && tar -xzvf PHP_Linux-x86_64.tar.gz
      - name: Checkout PharBuilder
        uses: actions/checkout@v3
        with:
          repository: NetherGamesMC/PharBuilder
          token: ${{ secrets.ng_token }}
          path: PharBuilder
      - name: Download Composer
        run: curl -o composer.phar "https://getcomposer.org/composer-stable.phar"
      - name: Install Composer dependencies
        run: ./bin/php7/bin/php composer.phar install --prefer-dist --no-interaction
      - name: Run PHPStan
        run: ./bin/php7/bin/php vendor/bin/phpstan.phar analyze --no-progress